html,
body,
h1,
h2,
h3,
h4 {
    font-family: "Times New Roman", serif
}

* {
    box-sizing: border-box;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* The dots/bullets/indicators */

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {}

.w3-panel {
    text-align: center;
    font-style: normal;
}

.w3-tag,
.fa {
    cursor: pointer
}

.w3-tag {
    height: 15px;
    width: 15px;
    padding: 0;
    margin-top: 6px
}


/*filtering:*/

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: "Times New Roman", serif;
}


/* Center website */

.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
}

.row {
    margin: 8px -16px;
}


/* Add padding BETWEEN each column (if you want) */

.row,
.row>.column {
    padding: 8px;
}


/* Create three equal columns that floats next to each other */

.column {
    float: left;
    width: 33.33%;
    display: none;
    /* Hide columns by default */
}


/* Clear floats after rows */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Content */

.content {
    background-color: white;
    padding: 10px;
}


/* The "show" class is added to the filtered elements */

.show {
    display: block;
}


/* Style the buttons */

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}


/* Add a grey background color on mouse-over */

.btn:hover {
    background-color: #ddd;
}


/* Add a dark background color to the active button */

.btn.active {
    background-color: #666;
    color: white;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .2s;
}

.pagination a.active {
    background-color: #0000FF;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

.w3-top-panel {
    text-align: center;
    font-style: normal;
}

.btn-group button {
    background-color: white;
    /* DodgerBlue background */
    border: 1px solid blue;
    /* blue border */
    color: white;
    /* White text */
    padding: 10px 24px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    width: 90%;
    /*Set width if needed */
    display: block;
    /* Make the buttons appear below each other */
}


/* Add a background color on hover */

.btn-group button:hover {
    background-color: skyblue;
}

.btn-grp button {
    background-color: DodgerBlue;
    /* DodgerBlue background */
    border: 1px solid blue;
    /* blue border */
    color: white;
    /* White text */
    padding: 10px 24px;
    /* Some padding */
}


/* Add a background color on hover */

.btn-grp button:hover {
    background-color: skyblue;
}

a {
    text-decoration: none;
}

a:hover {
    color: #0000FF;
}
